# === Android Studio / IntelliJ ===
*.iml
**/.idea/
**/.gradle/
**/local.properties
**/.idea/caches/
**/.idea/libraries/
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml

# === macOS ===
**/.DS_Store

# === Build output ===
**/build/
**/captures/

# === External native builds ===
**/.externalNativeBuild/
**/.cxx/

# === Gradle Wrapper ===
**/gradle-wrapper.jar
**/gradle-wrapper.properties

# === Include XML layouts and values ===
!**/res/layout/**/*.xml
!**/res/values/**/*.xml

