<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginNavigationApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginNavigationApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginNavigationApp" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginNavigationApp"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginNavigationApp" />
    </application>

</manifest>

